<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus ab fugit delectus rerum repudiandae voluptatibus earum magni modi dignissimos. Iure ad id excepturi repellendus accusamus recusandae dolorum impedit vitae enim!
    <hr>
    <a href="'/index/">a</a><br>
    <a href="/app/index/">b</a><br>
    <hr>
    <a href="{% url 'appa666:index666' %}">c</a><br>   {% comment %} 'appa666:index666' 避免不同app取的name一樣{% endcomment %}
    <a href="{% url 'appa666:index666' %}">d</a><br>
</body>
</html>